description "TeamCity Agent"

start on runlevel [2345]
stop on runlevel [016]

# TeamCity can take a while to shutdown
kill timeout 30

respawn

setuid teamcity
setgid teamcity

pre-stop script

  exec "${TEAMCITY_AGENT_PATH}/bin/agent.sh" stop

end script

pre-start script

  [ ! -f /etc/default/teamcity-agent ] && { stop; exit 0; }

  . /etc/default/teamcity-agent

  [ "$TEAMCITY_AGENT_ENABLED" != "yes" ] && { stop; exit 0; }
  
  exit 0 
end script

script
  . /etc/default/teamcity-agent

  exec "${TEAMCITY_AGENT_PATH}/bin/agent.sh" run
  
end script

post-start script

  while ! tail -5 {{ teamcity_agent_install_dir }}/logs/teamcity-agent.log | grep "Updating agent parameters on the server"; do sleep 1 ; done
  exec /usr/bin/curl -sS -X PUT --data "true" -H "Content-Type:text/plain" -u {{ teamcity_server_user_name }}:{{ teamcity_server_user_passwd }} http://{{ teamcity_agent_server_url }}:{{ teamcity_agent_server_port }}/app/rest/agents/{{ teamcity_agent_hostname }}/authorized

end script
